/* .container{
    height: 10vh;
    width: 100%;
    background-image: url('./image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    top: 0;
    margin: 0%;

} */
h1{
    text-align: center;
}
.container2{
    height: 100vh;
    width: 100%;
    background-image: url(./pink.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}
.crash{
    /* display: flex; */
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 100px;
 }
 .container2 input{
    width: 80%;
    padding: 20px 19px;
    border: none;
 }
 .profile
 {
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     line-height: .5;
 }
 img {
     margin-top: 2rem;
     width: 150px;
     border-radius: 75px;
     text-align: center;
 }

